gradio==5.50.0
gradio_client==1.14.0
qdrant_client==1.17.1
fastembed==0.8.0
langchain==0.3.26
langchain-anthropic==0.3.17
langchain-cohere==0.4.4
langchain-community==0.3.27
langchain-core==0.3.70
langchain-huggingface==0.3.0
langchain-openai==0.3.28
huggingface_hub==0.34.0
cohere==5.13.0
langgraph==1.0.1
Pillow==11.3.0
fastapi==0.135.1
langserve[all]==0.3.3
uvicorn[standard]==0.42.0
typing_extensions==4.15.0
python-multipart==0.0.22
pydantic==2.12.3
httpx==0.28.1
python-dotenv==1.2.2
PyPDF2==3.0.1
python-docx==1.2.0
pyarrow==23.0.1
PyYAML==6.0.3
